@import "../../index.scss";

.auth {

    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100% !important;
    background-color: $background-grey-light;

    img{
        width: 250px;
        border-radius: 150px;
    }

    .container-form{
        width: 400px;
        background-color: $background-light;
        padding: 20px 50px;
        border: 1px solid $border-grey;
        margin-top: 50px;
        border-radius: 5px;

    }

    .change-form{
        width: 400px;
        background-color: $background-light;
        padding: 20px 50px;
        border: 1px solid $border-grey;
        margin-top: 10px;
        margin-bottom: 42px;
        border-radius: 5px;
        text-align: center;
    }

    span{
        color: $action;
        font-weight: bold;
        margin-left: 5px;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
        &:host(:active) {
  position: relative;
  top: 3px;
  left: 3px;
}
    
    
    }

}